.about-us-container {
    height: auto !important;
    padding-block: 1.5rem !important;
}

.about-us-text-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.about-us-first-header {
    font-size: 3rem !important;
    color: var(--text-dark);
    font-weight: 600;
    padding-left: .9rem;
}

.about-us-header {
    font-weight: 400;
    font-size: 1.3rem;
    background-color: var(--bs-dark);
    color: var(--light-bg);
    padding: 1rem !important;
    padding-right: 7.5rem !important;
    border-radius: 1rem !important;
    border: 1px solid var(--bs-dark);
}

.about-us-img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.about-us-image {
    width: 50%;
    height: auto;
}

.about-us-skill {
    display: block;
    width: 50%;
    text-align: center;
    font-weight: 500;
    background-color: var(--text-dark);
    color: var(--light-bg);
    padding-block: .5rem;
    margin-top: .5rem;
    border-radius: 1rem;
}

.email-contact {
    display: block;
    width: 100%;
    margin-top: 1.8rem !important;
}

.email-contact-group {
    display: flex;
    color: #fff;
    justify-content: start;
    align-items: center;
    border: 1px solid #fff;
    border-radius: .6rem;
    padding-inline-start: 1rem;
}

.email-contact-icon {
    color: var(--text-dark);
    font-size: 1.3rem;
    margin-right: 1rem;
}

.email-contact-email {
    color: #fff;
}

.email-contact-btn {
    margin-top: .5rem;
    width: 40%;
    background-color: var(--btn-color);
    color: #fff;
    border: 0 !important;
    border-radius: .5rem;
    padding-inline: 1rem;
    padding-block: .3rem;
    transition: all .3s ease-in-out;
}

.email-contact-btn:hover {
    background-color: var(--title-light);
}

.about-us-social-links {
    display: flex !important;
    flex-direction: row;
    width: 100%;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 0 !important;
    margin-top: 1.5rem !important;
}

.about-us-social-links a {
    display: block !important;
    padding-inline: 1rem;
}

.about-us-social-links a i {
    font-size: 2rem !important;
    margin-right: 0 !important;
}

.about-us-social-links a span {
    display: none;
}

.scroll-next-link {
    display: none;
}
 
@media (min-width: 992px) {
    .about-us-container {
        height: 100vh !important;
    }

    .about-us-first-header {
        padding-left: 0;
    }

    .about-us-header {
        font-size: 1.3rem;
        font-weight: 300;   
        background-color: transparent;
        padding: 0 !important;
        margin-bottom: 0 !important;
        border: 0;
    }

    .about-us-text-block {
        align-items: stretch;
        justify-content: space-between;
        width: 60%;
    }

    .about-us-img-container {
        position: relative;
        justify-content: space-between;
        width: 400px;
        height: 400px;
    }

    .email-contact {
        display: block;
        margin-top: 0 !important;
    }

    .about-us-social-links {
        display: flex !important;
        flex-direction: column;
        justify-content: start !important;
        align-items: center !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
    }

    .about-us-social-links a {
        margin-right: 1rem !important;
    }

    .about-us-social-links a i {
        font-size: 1.5rem!important;
        margin-right: .5rem !important;
    }

    .about-us-social-links a span {
        display: inline-block !important;
    }

    .scroll-next-link {
        display: block;
        position: absolute;
        left: 50%;
        top: 78%;
        text-align: center;
        color: #fff;
        border-bottom: 2px solid transparent !important;
        transform: translate(-50%, -50%) scale(0.9) !important;
        transition: all .2s ease-in-out;
    }

    .scroll-next-link:hover {
        border-bottom: 2px solid var(--title-light) !important;
        transform: translate(-50%, -50%) scale(1) !important;
    }
}