.about-us-container {
    height: auto !important;
    padding-block: 1.5rem !important;
}

.about-us-text-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.about-us-first-header {
    font-size: 3rem !important;
    font-weight: 400;
    padding-left: .9rem;
}

.about-us-header {
    font-weight: 400;
    font-size: 1.3rem;
    background-color: var(--bs-dark);
    padding: 1rem !important;
    padding-right: 7.5rem !important;
    border-radius: 1rem !important;
    border: 1px solid var(--bs-dark);
}

.about-us-img-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 5%;
    width: 30%;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border: .3rem solid #fff;
}

.about-us-image {
    width: 100%;
    height: inherit;
}

.about-us-image-text {
    display: none;
    position: absolute;
    left: 50%;
    top: 90%;
    width: 90%;
    background-color: #2125295d;
    backdrop-filter: blur(5px);
    border-radius: 1.2rem;
    text-align: center;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.86);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.86);
}

.about-us-image-text p {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0 !important;
}

.about-us-skills {
    display: block !important;
    margin-top: .2rem !important;
}

.about-us-skills article:first-child {
    margin-top: 0 !important;
    margin-inline: 0 !important;
}

.about-us-skills article {
    width: 60%;
    margin-top: .7rem !important;
    margin-inline: 0 !important;
}

.about-us-skill-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #2f3338 !important;
    border: 1px solid #fff;
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
}

.about-us-skill-card img {
    width: 20px;
    height: 20px;
    margin-left: 0.25rem !important;
}

.email-contact {
    margin-top: 1.8rem !important;
}

.email-contact-input {
    width: 60%;
    background-color: #343a40;
    color: #fff;
    border: 1px solid #fff;
    border-radius: .6rem;
    padding-block: .2rem;
    padding-left: 1rem;
}

.email-contact-btn {
    background-color: #343a40;
    color: #fff;
    border: 1px solid #fff;
    border-radius: .6rem;
    padding-inline: 1rem;
    padding-block: .2rem;
}

.about-us-social-links {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 0 !important;
    margin-top: 1.5rem !important;
}

.about-us-social-links a {
    display: block !important;
    margin-right: 1.5rem !important;
}

.about-us-social-links a i {
    font-size: 2rem !important;
    margin-right: 0 !important;
}

.about-us-social-links a span {
    display: none;
}

.scroll-next-link {
    display: none;
}
 
@media (min-width: 992px) {
    .about-us-container {
        height: 100vh !important;
        padding-block: 3rem !important;
    }

    .about-us-first-header {
        padding-left: 0;
    }

    .about-us-header {
        font-size: 2.5rem;
        background-color: transparent;
        padding: 0 !important;
        margin-bottom: 0 !important;
        border: 0;
    }

    .about-us-text-block {
        align-items: stretch;
        justify-content: space-between;
        width: 60%;
    }

    .about-us-img-container {
        position: relative;
        width: 400px;
        height: 400px;
        border-radius: 1rem;
        border: 0;
    }

    .about-us-image-text {
        display: block !important;
    }

    .about-us-skills {
        display: flex !important;
        justify-content: start !important;
        align-items: center !important;
    }

    .about-us-skills article:first-child {
        margin-inline: 0 !important;
    }
    
    .about-us-skills article {
        width: auto;
        margin-top: 0 !important;
        margin-left: .5rem !important;
    }

    .email-contact {
        margin-top: 0 !important;
    }

    .about-us-social-links {
        display: flex !important;
        justify-content: start !important;
        align-items: center !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
    }

    .about-us-social-links a {
        margin-right: 1rem !important;
    }

    .about-us-social-links a i {
        font-size: 1.5rem!important;
        margin-right: .5rem !important;
    }

    .about-us-social-links a span {
        display: inline-block !important;
    }

    .scroll-next-link {
        display: block;
        position: absolute;
        left: 50%;
        top: 78%;
        text-align: center;
        color: #fff;
        border-bottom: 2px solid transparent !important;
        transform: translate(-50%, -50%) scale(0.9) !important;
        transition: all .2s ease-in-out;
    }

    .scroll-next-link:hover {
        border-bottom: 2px solid #0d6efd !important;
        transform: translate(-50%, -50%) scale(1) !important;
    }
}