.container-pill {
    background-color: var(--nav-link-dark);
    border-radius: 1rem !important;
    overflow: hidden;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--light-bg);
    text-align: center !important;
    padding-block: 1.5rem;
    font-weight: 300 !important;
    border-bottom: 3px solid var(--dark-bg);
}

.header-span-left {
    color: var(--text-light);
    transform: translateX(-60rem);
    transition: all 1s ease-in-out;
}

.header-span-left.visible {
    transform: translateX(0);
}

.header-span-right {
    color: var(--text-light);
    transform: translateX(60rem);
    transition: all 1s ease-in-out;
}

.header-span-right.visible {
    transform: translateX(0);
}

.section-btn {
    display: flex;
    justify-content: center;
}

.container-pill-btn {
    background-image: linear-gradient(135deg, rgb(8, 145, 178) 0%, rgb(21, 94, 117) 100%) !important;
    color: #fff;
    border: 1px solid #fff;
    border-radius: .5rem;
    margin-inline: .5rem;
    margin-block: 1rem;
    padding: .5rem 1rem !important;
}

.container-pill-empty-text {
    color: #fff;
    text-align: center;
    margin-block: 2rem !important;
}