@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* @import url('../public/assets/fonts/Rubik-VariableFont_wght.ttf'); */

:root {
  font-family: 'Rubik', sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #343a40;
}

.container {
  padding-inline: 0 !important;
}

.main {
  margin-top: 0 !important;
}

@media (min-width: 992px) {
  .main {
    margin-top: 1.5rem !important;
  }
}